*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
navbar{
    background-color: white;

}
.nav-link{
    color:rgb(0, 0, 0);
    font-size: 1rem;
    
    cursor: pointer;
    text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: rgb(224, 161, 227);
}

/* main */

.main{
    background: url(./img/DSC_5540.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.main h3{
    font-size: 4.4rem;
    font-weight: 700;
}

.main small{
    font-size: smaller;
    font-weight: 400;
}

.main h6{
    font-size:1.4erm;
    line-height: 2;
    border-bottom: 2px solid rgb(224, 161, 227);
    width: 50%;
    
}



.about img{
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
}

h1{
    font-size: 3rem;
    font-weight: 900;
}

.about .bt1{
    height: 55px;
    width: 138px;
    background-color: rgb(224, 161, 227);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
}
.about .bt1:hover{
    background-color: rgb(254, 161, 227);
    transition: 0.5s;
}

.about .bt2{
    height: 55px;
    width: 138px;
    background-color: rgb(224, 161, 227);
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
}

.about .bt2:hover{
    background-color: rgb(254, 161, 227);
    transition: 0.5s;
}


.exp .card{
    border: none;
    outline: none;
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    height: 450px;
}

.proj .card{
    border: none;
    outline: none;
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    height: 375px;

}
.card p{
    color: black;
    
}
.circle{
    height:70px;
    width:70px;
    background-color: lightgrey;
    color: black;
    padding: 12px;
    font-size: 30px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 20px;
}



.exp h4{
    height: 4rem;
}

.expimage{
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.tesla{
    
    
    background-image: url(./img/tesla.jpg);
    
}

.eecs{
    
    background-image: url(./img/cs61c.png);
    
}

.atlassian{
    
    background-image: url(./img/atlassian.jpg);
    
}

.csm{
    background-image: url(./img/csm.jpg);
}

.opoplan{
    background-image: url(./img/opoplan.jpg);
}

.alts{
    background-image: url(./img/alts.png);
}

.chanim{
    background-image: url(./img/chanim.png);
}

.recipify{
    background-image: url(./img/recipify.png);
}

.adnet{
    background-image: url(./img/adnet.png)
}

.tickets{
    background-image: url(./img/tickets.png)
}

.digclass{
    background-image: url(./img/dig.png);
}

.website{
    background-image: url(./img/logo2.png);
}

.cd19{
    background-image: url(./img/cd19.png);
}

a { 
    
    text-decoration:none;
}

.textsmaller{
    font-size: 0.9rem;
}
.hovtxt{
    height: 275px;
    background: white;
    opacity: 0;
}

.hovtxt:hover{
    opacity:0.97;
    transition: 0.3s;
}

.dance{
    background: url(./img/tintin.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.editing{
    background: url(./img/editing.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.create .card{
    border: none;
    outline: none;
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    display: flex;
    
 }





.create h2{

    color: white;
    font-weight: 100;
    font-size: 7rem;
}

.create h4{

        font-size: 2.7rem;
        font-weight: 100;
        font-family: "Montserrat";
    

}

.dancevid {
    -webkit-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);
    box-shadow: 6px 4px 34px -15px rgba(0,0,0,0.75);

}

.dancevid:hover{
    scale: 1.1;
    transition: 0.3s;
}
